/* body { */
    /* background: url(5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif; */
  /* } */
  
  /* h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 30px auto 10px;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
  }
  
  a {
    display: block;
    width: 150px;
    height: 40px;
    margin: 50px auto 0;
    background-color: #000000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  a:hover {
    background-color: #32383f;
  } */

/* * {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans',sans-serif;
}

header {
  display: inline;
}

.wrapper {
  width: 1000px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 30px;
  font-weight: 700;
  float: left;
  font-family: 'Times New Roman', Times, serif;
  color: #39A2DB;
}

.bar {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 90px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #FDFDFD;
  z-index: 1;
  border-bottom: 3px solid #39A2DB;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #334257 ;
  font-weight: bold;
  text-align: center;
  padding: 0px 12px 0px 12px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

img {
  width: 500px;
  margin-top: 20px;
}

section {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}

.profile {
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile .teks {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  color: #02080f;
  width: 100%;
  margin-bottom: 10px;
  line-height: 50px;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  color: #39A2DB;
  width: 100%;
  line-height: 50px;
}

.profile .deskripsi {
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
  color: #39A2DB;
  width: 100%;
  line-height: 50px;
}

a.tombol {
  background: #334257;
  border-radius: 15px;
  margin-top: 20px;
  padding: 13px 18px 13px 18px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.click:hover {
  background: #334257;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.middle {
  text-align: center;
  width: 100%;
}

.daftar-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.tag-fitur {
  width: 20%;
  margin: 0 auto;
}

.tag-fitur img {
  width: 80%;
  border: 3px solid #334257;
  border-radius: 50%;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #00090d;
}

.tag-fitur p {
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  color: #334257;
}
.button{
  width: 50px;
  height: 40px;
  border-radius: 50px;
  font-weight: bold;
  font-size: small;
  border-color: rgb(117, 149, 195);
  background-color: rgb(117, 149, 195);
}
.button a {
  color: rgb(0, 15, 10);
  text-decoration: none;
}
.tag-about {
  width: 30%;
  margin: 0 auto;
}

.tag-about img {
  width: 70%;
  border: 3px solid #334257;
  border-radius: 70px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact {
  background: #EFEFEF ;
  padding: 40px 0px 40px 0px;
}

.footer-profile {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-list {
  width: 30%;
  margin: 0 auto;
}

.footer-list h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  color: #39A2DB;
  margin-bottom: 20px;
  width: 100%;
  line-height: 50px;
}

.footer-list p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #334257;
}

.footer-list img {
  width: 20%;
  border-radius: 70px;
}

.copyright {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width :992px) {
  .wrapper {
      width: 100%;
  }

  .logo a {
      width: 100%;
      text-align: center;
      display: block;
  }

  .bar {
      width: 100%;
      margin: auto;
      margin-top: 10px;
  }

  .bar ul {
      text-align: center;
      margin: auto;
  }

  .bar li {
      float: none;
      display: inline-block;
  }

  section {
      display: block;
  }

  section img {
      width: 100%;
      display: block;
      height: auto;
  }

  .tag-fitur {
      width: 40%;
      margin: auto;
  }

  .tag-fitur img {
      width: 100%;
      display: block;
  }

  .tag-about {
      width: 80%;
  }

  .footer-list {
      width: 80%;
      display: block;
  }

  .form{
      padding: 8% 30%;
      background: linear-gradient(rgb(255, 237, 223), white );
  }
  .form h1{
      font-size: 30px;
      text-align: center;
      color: rgb(215, 141, 165);
  }

  .tabel2{
      width: 100%;
      border-collapse: collapse;
     background-color: palevioletred;;
}

.gambar{
  display: block;
  margin-top: -150px;
  margin-left: 700pt;
  padding: 20px;
}
 
label {
  font-size: 15pt;
  color: #555;
}
 
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding: 8px;
  width: 95%;
  background: palevioletred;
  border-radius: 30px;
  font-size: 10pt;
  margin: 6px 0px;
}
 
.tombol {
  background: palevioletred;
  color: #fff;
  border-radius: 30px;
  padding: 5px 8px;
}
} */


* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans',sans-serif;
}

header {
  display: inline;
}

.wrapper {
  width: 1000px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 30px;
  font-weight: 700;
  float: left;
  font-family: 'Times New Roman', Times, serif;
  color: #39A2DB;
}

.bar {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 90px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #FDFDFD;
  z-index: 1;
  border-bottom: 3px solid #39A2DB;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #334257 ;
  font-weight: bold;
  text-align: center;
  padding: 0px 12px 0px 12px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

img {
  width: 500px;
  margin-top: 20px;
}

section {
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}

.profile {
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile .teks {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  color: #02080f;
  width: 100%;
  margin-bottom: 10px;
  line-height: 50px;
}

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  color: #39A2DB;
  width: 100%;
  line-height: 50px;
}

.profile .deskripsi {
  font-family: 'Fira Sans', sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
  color: #39A2DB;
  width: 100%;
  line-height: 50px;
}

a.tombol {
  background: #334257;
  border-radius: 15px;
  margin-top: 20px;
  padding: 13px 18px 13px 18px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.click:hover {
  background: #334257;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.middle {
  text-align: center;
  width: 100%;
}

.daftar-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
/* 
.tag-fitur {
  width: 20%;
  margin: 0 auto;
}

.tag-fitur img {
  width: 80%;
  border: 3px solid #334257;
  border-radius: 50%;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #00090d;
}

.tag-fitur p {
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  color: #334257;
} */
.daftar-fitur {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fitur {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.fitur img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.fitur h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.fitur p {
  font-size: 16px;
  margin-bottom: 5px;
}
.button{
  width: 50px;
  height: 40px;
  border-radius: 50px;
  font-weight: bold;
  font-size: small;
  border-color: rgb(117, 149, 195);
  background-color: rgb(117, 149, 195);
}
.button a {
  color: rgb(0, 15, 10);
  text-decoration: none;
}
.tag-about {
  width: 30%;
  margin: 0 auto;
}

.tag-about img {
  width: 70%;
  border: 3px solid #334257;
  border-radius: 70px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#contact {
  background: #EFEFEF ;
  padding: 40px 0px 40px 0px;
}

.footer-profile {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-list {
  width: 30%;
  margin: 0 auto;
}

.footer-list h3 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  color: #39A2DB;
  margin-bottom: 20px;
  width: 100%;
  line-height: 50px;
}

.footer-list p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  color: #334257;
}

.footer-list img {
  width: 20%;
  border-radius: 70px;
}

.copyright {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width :992px) {
  .wrapper {
      width: 100%;
  }

  .logo a {
      width: 100%;
      text-align: center;
      display: block;
  }

  .bar {
      width: 100%;
      margin: auto;
      margin-top: 10px;
  }

  .bar ul {
      text-align: center;
      margin: auto;
  }

  .bar li {
      float: none;
      display: inline-block;
  }

  section {
      display: block;
  }

  section img {
      width: 100%;
      display: block;
      height: auto;
  }

  .tag-fitur {
      width: 40%;
      margin: auto;
  }

  .tag-fitur img {
      width: 100%;
      display: block;
  }

  .tag-about {
      width: 80%;
  }

  .footer-list {
      width: 80%;
      display: block;
  }

  .form{
      padding: 8% 30%;
      background: linear-gradient(rgb(255, 237, 223), white );
  }
  .form h1{
      font-size: 30px;
      text-align: center;
      color: rgb(215, 141, 165);
  }

  .tabel2{
      width: 100%;
      border-collapse: collapse;
     background-color: palevioletred;;
}

.gambar{
  display: block;
  margin-top: -150px;
  margin-left: 700pt;
  padding: 20px;
}
 
label {
  font-size: 15pt;
  color: #555;
}
 
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding: 8px;
  width: 95%;
  background: palevioletred;
  border-radius: 30px;
  font-size: 10pt;
  margin: 6px 0px;
}
 
.tombol {
  background: palevioletred;
  color: #fff;
  border-radius: 30px;
  padding: 5px 8px;
}
}